# private folder
private/
wandb/

# python
*.py[cod]
*$py.class

# macOS
.DS_Store

# Editors
*~
*.swp
*.swo
*.bak
*.pyc

# Virtual Environments
venv/
env/

# temp
weights/ckpt/VGG16_256_860.data-00000-of-00001